.message {
    background-color: yellow;
    color: red;
    font-weight: bold;

    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
}